.footer {
  box-shadow: 0 -5px 40px #00000029;
  padding: 20px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.footer__copy {
  font-size: 0.6875rem;
  line-height: 1.5rem;
  color: $colorgrey;
  margin-top: 6px;
}

.footer__icons a:first-of-type {
  margin-right: 25px;
}
.logo__footer {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  color: $colorblu;
  font-size: 32px;
  font-weight: 100;
  font-family: $font-open-sans;
}